@import "constants.less";
@_icon-color: @rating-stars-color;

//
//  Common (styles-m.css)
//  _____________________________________________
& when (@media-common = true) {
    // your code

    .page-header{
        border-bottom: 0;
        background-color: @page-header-background-color;
        .header{
            &.content{
                padding-bottom: 40px;
                .logo{
                    position: absolute;
                    left: calc(50% - 40px);
                    top: 17px;
                    z-index: 6;
                }
                .minisearch{
                    .search{
                        .control{
                            border-top: none;
                            input{
                                margin-top: 40px;
                            }
                        }

                    }
                }
            }
        }
        .panel_wrapper{
            display: none;
            border-bottom: 0;
        }

        .smart-top-bar-container{
            padding: 10px 0;
            background-color: @header-panel-background-color;
            text-align: center;
            border-bottom: 0;
            .panel{
                &.wrapper{
                    border-bottom: 0;
                }
            }
            .maintextonbanner1{
                color: @maintextonbanner1;
            }
        }
    }
    .extra-content-container{
        display: flex;
        width: 100%;
        padding-top: 15px;
        flex-direction: column;
        border-top: 1px solid #c1c1c1;
        justify-content: center;

        flex-wrap: nowrap;

        align-content: center;
        .extra-content-header-text {
            display: block;
            font-family: 'Roboto','Roboto',Helvetica,Arial,sans-serif;
            font-weight: 700;
            font-size: 1.5rem;
            text-align: left;
            padding-left: 10px;
        }
        .extra-content-flex-child{
            display: flex;
            padding: 20px;
            flex-direction: row;
            justify-content: flex-start;
            flex-wrap: nowrap;
            align-items: stretch;
            flex: 1;
            text-align: center;
            .extra-content-small-container{
                display: block;
                margin-right: auto;
                margin-left: auto;
                padding-right: 15px;
                padding-left: 15px;
                .extra-content-main-image{
                    display: block;
                    max-width: 100%;
                    margin-right: auto;
                    margin-left: auto;
                    border-radius: 50%;
                }
                .extra-content-heading{
                    display: block;
                    margin-top: 15px;
                    margin-bottom: 15px;
                    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
                    color: #000;
                    font-size: 19px;
                    line-height: 20px;
                    text-align: center;
                }
                .extra-content-hr-line-green{
                    display: block;
                    width: 15%;
                    margin-right: auto;
                    margin-left: auto;
                    border-bottom: 5px solid #a9b089;
                    border-radius: 4px;
                    text-align: center;
                }
                .extra-content-text-blurb-height{
                    width: 100%;
                    .extra-content-text-blurb{
                        display: block;
                        margin-top: 15px;
                        margin-right: auto;
                        margin-left: auto;
                        font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
                        color: #525252;
                        font-size: 14px;
                        line-height: 20px;
                        text-align: center;
                    }
                }
            }
        }
    }
    .actions-toolbar{
        display: block;
        padding-top: 20px;
        padding-bottom: 20px;
        text-align: center;
        justify-content: center;
        border-bottom: 1px solid #c9cac8;
        #product-scroll-top-button-id{
            background: #22505f;
            border: 1px solid #22505f;
            color: #fff;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-size: 1.5rem;
            span{
                font-family: 'Roboto Condensed','Helvetica Condensed','Arial Narrow',Arial,sans-serif;
                font-weight: 700;
            }
        }
    }
    .review-list{
        .block-title{

            strong{
                color: @text-color;
                font-family: 'Roboto Condensed','Helvetica Condensed','Arial Narrow',Arial,sans-serif;
                font-weight: 700;
                line-height: 1.1;
                font-size: 1.6rem;
                margin-top: 2.5rem;
                margin-bottom: 2rem;
                text-transform: uppercase;
            }
        }
        .block-content{
            .review-item{
                border-bottom: 1px solid #c9c9c9;
                margin: 0;
                padding: 20px 0;
                .review-title{
                    display: none;
                }
                .review-ratings{
                    display: table;
                    margin-bottom: 10px;
                    max-width: 100%;
                    .rating-summary{
                        display: table-row;
                        overflow: hidden;
                        white-space: nowrap;
                        color: @rating-stars-color;
                        .rating-result{
                            span{
                                &:before{
                                    color:@rating-stars-color;
                                }
                            }
                        }
                    }
                    .review-details{
                        display: flex;
                        flex-direction: column;
                        .review-author{
                            margin-bottom: 0;
                            .review-details-value{
                                font-weight: 700;
                            }
                        }
                    }
                }
            }
        }
    }
    .block{
        &.related{
            margin-bottom: 20px;
            .block-title{
                //margin-bottom: 20px;
                margin-top: 20px;
                strong{
                    font-size:1.6rem;
                }
            }
            .block-content{
                margin-top: 0;
                .block-actions{
                    display: none;
                }
                .products-grid{
                    margin-top: 10px;
                    .product-items{
                        margin-top: 10px;
                        margin-left: -20px;

                        .product-item{
                            padding-left: 20px;
                            //width: 49%;
                            margin-left: 0;
                           .product-item-info{
                               .product-item-details{
                                   .product-item-name{
                                       margin: 0;
                                       .product-item-link{
                                           font-weight: 700;
                                       }
                                   }
                                   .price-box{
                                       span{
                                           span{
                                               span{
                                                   font-weight: 400
                                               }
                                           }
                                       }
                                       margin: 5px 0 0;
                                   }
                               }
                           }
                        }
                    }
                }
            }
        }
    }
    .product{
        &.info{
            &.detailed{
                margin-bottom: 0;
                //padding-bottom: 10px;
                .product{
                    &.data{
                        &.items{
                            margin:0;
                            padding: 0;
                            border-bottom: none;
                            .data{
                                &.title{
                                    padding: 10px 0;
                                    border-top: 1px solid #c1c1c1;
                                    .data{
                                        &.switch{
                                            padding: 0 10px;
                                            text-decoration: none;
                                            color:black;
                                            font-family: 'Roboto', 'Roboto', Helvetica, Arial, sans-serif;
                                            font-weight: 700;
                                            font-size: 1.5rem;
                                        }
                                    }
                                }
                                &.content{
                                    padding: 10px;
                                    .custom-h2-product-page-details-header{
                                        font-family: 'Roboto Condensed','Helvetica Condensed','Arial Narrow',Arial,sans-serif;
                                        font-weight: 600;
                                        letter-spacing: 0;
                                        line-height: 1.1;
                                        font-size: 1.6rem;
                                        margin-bottom: 2rem;
                                        margin-top: 0;
                                    }
                                    p{
                                        color: #252c26;
                                        font-family: 'Roboto','Roboto',Helvetica,Arial,sans-serif;
                                        font-style: normal;
                                        font-weight: 400;
                                        line-height: 1.42857143;
                                        font-size: 1.4rem;
                                        a{
                                            text-decoration: none;
                                            color: #252c26;
                                        }
                                    }
                                    .product-details-container{
                                        .our-mission-container{
                                            margin: 0 auto;
                                            padding: 6px;
                                            border: 1px solid #a1a1a1;
                                            .our-mission-text-container{
                                                padding: 15px 25px;
                                                border: 1px dashed #c7c7c7;
                                                color: #1f1f1f;
                                                text-align: center;
                                                .our-mission-header-text{
                                                    margin-bottom: 10px;
                                                    margin-top: 0;
                                                    color: #22505f;
                                                    font-size: 16px;
                                                    line-height: 20px;
                                                    font-weight: 700;
                                                    text-align: center;
                                                }
                                                .our-mission-subtext-paragraph{
                                                    padding-bottom: 15px;
                                                    color: #5f5f5f;
                                                    font-size: 14px;
                                                    line-height: 18px;
                                                    font-style: italic;
                                                    text-align: center;
                                                }
                                                .our-mission-lulu-container{
                                                    color: #1f1f1f;
                                                    text-align: center;
                                                    .our-mission-footer-text{
                                                        display: inline-block;
                                                        color: #242424;
                                                        font-size: 13px;
                                                        line-height: 20px;
                                                        text-align: center;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .product-social-links{
        margin: 3px 0 20px;
        text-align: right;
        text-transform: uppercase;
        color: @social-links-color;
        font-weight: 800;
        letter-spacing: .05em;
        font-size: 16px;
        font-family: 'Roboto Condensed','Helvetica Condensed','Arial Narrow',Arial,sans-serif;
        .product-addto-links{
            .towishlist{
                margin-right: 3px;
                &:before{
                    display: none;
                }
                span{
                    &:after{
                        font-family: luma-icons;
                        color: @social-links-color;
                        content: ' \e600';
                        font-size: 14px;
                        line-height: 16px;
                        margin: -2px 5px 0 0;
                        vertical-align: middle;
                        display: inline-block;
                        font-weight: 400;
                        overflow: hidden;
                        text-align: center;
                    }
                }
            }
        }
    }
    .product-add-form{
        padding-bottom: 0;
        padding-top: 0;
        .product-options-wrapper{
            .fieldset{
                .swatch-opt{
                    margin: 0;
                    .swatch-attribute{
                        &.size{
                            .swatch-attribute-options{
                                .swatch-option{
                                    &.selected{
                                        color: #fff;
                                        background: #252c26 !important;
                                        border: 1px solid #252c26;
                                        outline: none;
                                    }
                                    &.disabled{
                                        background: #e6e7e4;
                                        color: #96999b;
                                        &:after{
                                            display: none;
                                        }
                                    }
                                    background: #fff;
                                    color: #252c26;
                                    border: 1px solid #c9cac8;
                                }
                            }
                        }
                        &.color{
                            .swatch-attribute-options{
                                .swatch-option{
                                    &.selected{
                                        outline: 2px solid #252c26;
                                        border: 1px solid #fff;
                                    }
                                    &.disabled{
                                        opacity: .5;
                                        &:after{
                                            content: '';
                                            position: absolute;
                                            left: 0;
                                            right: 0;
                                            top: 0;
                                            bottom: 0;
                                            background: linear-gradient(to left top,rgba(255,255,255,0) 0%,rgba(255,255,255,0) 42%,rgba(255,255,255,1) 43%,rgba(255,255,255,1) 46%,rgba(0,0,0,.5) 47%,rgba(0,0,0,.5) 53%,rgba(255,255,255,1) 54%,rgba(255,255,255,1) 57%,rgba(255,255,255,0) 58%,rgba(255,255,255,0) 100%);
                                        }
                                    }
                                    margin-right: 2px;
                                    border: none;
                                }
                            }
                        }
                    }
                }
            }
        }
        .product-options-bottom{
            .box-tocart{
                margin-bottom: 0;
                .fieldset{
                    margin-bottom: 0;
                    .actions{
                        button{
                            span{
                                &:after{
                                    content: url(../images/tis-icon-shoppingbag--tocart.svg);;
                                    //background-image:
                                    margin-left: 10px;
                                    display: inline-block;
                                    height: 14px;
                                    width: 14px;
                                }
                            }
                            text-transform: uppercase;
                            margin-bottom: 0;
                            background:@button-color;
                            letter-spacing: 1px;
                            line-height: 2rem;
                            padding: 8px 20px 10px;
                            font-size: 1.8rem;
                            font-family: 'Roboto Condensed','Helvetica Condensed','Arial Narrow',Arial,sans-serif;
                            font-weight: 700;
                        }
                    }
                    .qty{
                        .control{
                            button{
                                text-transform: uppercase;
                                border-radius: 75%;
                                color: white;
                                margin-bottom: 0;
                                background:@button-color;
                                letter-spacing: 1px;
                                line-height: 2rem;
                                padding: 8px 20px 10px;
                                font-size: 1.8rem;
                                font-family: 'Roboto Condensed','Helvetica Condensed','Arial Narrow',Arial,sans-serif;
                                font-weight: 700;
                            }
                        }
                    }
                }
            }
        }
    }
    .modal-popup{
        .modal-header{
            background: white;padding-left: 8px;
            h1{
                font-size: 1.8rem;
                font-family: 'Roboto','Roboto',Helvetica,Arial,sans-serif;
                font-weight: 700;
                text-align: left;
                margin: 15px 0 10px;
                line-height: 1.1;
                border: none;
            }
        }
        .modal-content{
            padding: 10px 10px 0 10px;
            background: white;
            .items{
                .item{
                    &.title{
                        &.active{
                            background: @page-header-background-color;
                        }
                    }
                    &.content{
                        .table_size{
                            width: 100%;
                            th{
                                background-color: rgba(169,176,137,.2);
                                border: 1px solid #c9cac8;
                                padding: 4px 6px;
                                font-size: 1.2rem;
                                text-align: center;
                                vertical-align: middle;
                            }
                            td{
                                padding: 4px 6px;
                                text-align: center;
                                border: 1px solid #c9cac8;
                                vertical-align: middle;
                                ine-height: 16px;
                                font-size: 1rem;
                            }

                        }
                    }
                }
            }
            .tips-container{
                .window-title{
                    font-size: 1.9rem;
                    font-family: 'Roboto','Roboto',Helvetica,Arial,sans-serif;
                    font-weight: 700;
                    margin-bottom: 0;
                    line-height: 1.1;
                    margin-top: 2rem;
                    h4{font-size: 1.9rem;}
                }
            }
            .how-to-measure-container{
                display: flex;
                flex-direction: column;
                .how-to-measure-image{
                    img{
                        height: auto;
                        max-width: 100%;
                    }
                }
                .how-to-measure-content{
                    .window-title{
                        font-size: 1.9rem;
                        font-family: 'Roboto','Roboto',Helvetica,Arial,sans-serif;
                        font-weight: 700;
                        margin-bottom: 0;
                        line-height: 1.1;
                        margin-top: 2rem;
                        h4{font-size: 1.9rem;}
                    }
                    .measure-heading{
                        color: #252c26;
                        font-family: 'Roboto','Roboto',Helvetica,Arial,sans-serif;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 1.42857143;
                        font-size: 1.5rem;
                        margin-bottom: 0;
                    }
                }
            }
        }
        .modal-footer{
            text-align: right;
            background: white;
            padding: 0 8px 8px 0;
            button{
                text-transform: uppercase;
                letter-spacing: 1px;
                font-size: 1.5rem;
                background: #fff;
                border: 1px solid #252c26;
                color: #252c26;
                cursor: pointer;
                font-family: 'Roboto Condensed','Helvetica Condensed','Arial Narrow',Arial,sans-serif;
                font-weight: 700;
                margin: 0;
                padding: 6px 15px 8px;
                line-height: 1.6rem;
                vertical-align: middle;
                &:hover{
                    background: #fff;
                    border: 1px solid rgba(37,44,38,.5);
                    color: rgba(37,44,38,.5);
                }
            }
        }
    }
    .product {
        margin: 5px 0;
        ul{
            margin: 0;
            padding-left: 15px;
            color: #252c26;
            font-family: 'Roboto','Roboto',Helvetica,Arial,sans-serif;
            font-style: normal;
            font-weight: 400;
            line-height: 1.42857143;
            font-size: 1.5rem;
            li{
                margin-bottom: 0;
            }
        }
    }
    .product-promo{
        border-bottom: 1px solid #c1c1c1;
        padding-bottom: 10px;
    }
    .product-reviews-summary{
        .rating-result{
            span{
                &:before{
                    color: @rating-stars-color;
                }
            }
        }
    }
    .product-info-main{
        &.product-info-price{
            margin-bottom: 5px;
            .price-box{
                display: flex;
                flex-direction: row;
                .price-container{
                    .price-label{
                        display: none;
                    }
                }
                .sly-old-price{
                    .price-label{
                        display: none;
                    }
                }
            }
            .product-info-stock-sku{
                padding: 0;
                .type{
                    &:after{
                        content:":"!important;
                    }
                }
                .stock{
                    display: none;
                }
            }
        }
    }

}
//
//  Mobile (styles-m.css)
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    // your code
    .panel-wrapper{
        display: none;
    }
    .extra-content-container{
        .extra-content-flex-child{
            .extra-content-small-container{
                padding-right: 30px;
                padding-left: 30px;
                .extra-content-text-blurb-height{
                    .extra-content-text-blurb{
                        width: 95%;
                        padding-right: 0;
                        padding-left: 0;
                        font-size: 13px;
                        line-height: 18px;
                    }
                }
            }
        }
    }

}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    // your code
    .extra-content-container{
        .extra-content-flex-child{
            .extra-content-small-container{
                padding-right: 60px;
                padding-left: 60px;
                .extra-content-text-blurb-height{
                    .extra-content-text-blurb{
                        width: 95%;
                        padding-right: 0;
                        padding-left: 0;
                        font-size: 13px;
                        line-height: 18px;
                    }
                }
            }
        }
    }
}

//
//  Tablet
//  _____________________________________________

// This will add styles for tablet devices. When using native media-queries, we recommend wrapping your media-queries with media-width Magento mixins or media-target
& when (@media-target = 'desktop'), (@media-target = 'all') {
    @media only screen and (min-width: @screen__m) and (max-width: @screen__xl - 1) {
        // your code

    }
}

//
//  Desktop (style-l.css)
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    // your code
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    // your code
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xl) {
    // your code
    .extra-content-container{
        flex-direction: row;
    }
    .page-header{
        .header{
            &.content{
                padding-bottom: 40px;
                .panel-wrapper{
                    .shipping{
                        text-decoration: none;
                        color: white;
                    }
                }
                .logo{
                    position: absolute;
                    left: calc(50% - 20px);
                    top: 80px;
                    z-index: 6;
                }
                .minisearch{
                    .search{
                        .control{
                            border-top: none;
                            input{
                                margin-top: 40px;
                            }
                        }

                    }
                }
            }
        }
        .panel_wrapper{
            display: none;
            border-bottom: 0;
        }

        .smart-top-bar-container{
            padding: 10px 0;
            background-color: @header-panel-background-color;
            text-align: center;
            border-bottom: 0;
            .panel{
                &.wrapper{
                    border-bottom: 0;
                }
            }
            .maintextonbanner1{
                color: @maintextonbanner1;
            }
        }
    }
}
