@header-panel-background-color: #2d2b31;
@maintextonbanner1: #B3995A;
@page-header-background-color: #a9b089;
@rating-stars-color:#8e734b;
@text-color:#252c26;
@social-links-color: #747678;
@button-color:#22505f;
