<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var \Magento\Catalog\Block\Product\View\Details $block */
?>
<?php if ($detailedInfoGroup = $block->getGroupSortedChildNames('detailed_info', 'getChildHtml')) :?>
    <div class="product info detailed">
        <?php $layout = $block->getLayout(); ?>
        <div class="product data items" data-mage-init='{"accordion":{
            "multipleCollapsible":false,
            "collapsible": true,
            "openedState": "active"
        }}'>

            <?php
            $html = $layout->renderElement($detailedInfoGroup[0]);
//            if (!trim($html)) {
//                continue;
//            }
            $alias = $layout->getElementAlias($detailedInfoGroup[0]);
            $label = $block->getChildData($alias, 'title');
            ?>

            <div class="data title"
                 data-role="collapsible" >
                <a class="data switch"
                   data-toggle="trigger"
                   href="#<?= $block->escapeUrl($alias) ?>">
                    <?= /* @noEscape */ $label ?>
                </a>
            </div>
            <div class="data content"
                 id="<?= $block->escapeHtmlAttr($alias) ?>"
                 data-role="content">
                <?= /* @noEscape */ $html ?>
            </div>

            <div class="data title"
                 data-role="collapsible" >
                <a class="data switch"
                   data-toggle="trigger"
                   href="#">
                    Shipping & Free Returns
                </a>
            </div>
            <div class="data content"
                 id="<?= $block->escapeHtmlAttr($alias) ?>"
                 data-role="content">
                <p><span class="lead-time-message">Available for immediate dispatch.</span></p>
                <p><span class="lead-time-configurable-hint"></span></p>
                <p>Standard shipping worldwide from $9.95.</p>
                <p>Free returns within 6 months.</p>
                <p>For complete details, read our <strong><a title="Shipping Policy" href="https://www.theirishstore.com/delivery-information">Shipping</a></strong> and <strong><a title="Returns Policy" href="https://www.theirishstore.com/returns-policy">Return</a></strong> policies.</p>
            </div>

        </div>
    </div>
<?php endif; ?>
