
<div class="extra-content-container">
    <div class="extra-content-header-text">
        Why We Love It<br>
    </div>
    <div class="extra-content-flex-child">
        <div class="extra-content-small-container"><img class="extra-content-main-image" src="https://www.theirishstore.com/media/wysiwyg/product_page_additional_content/IEL53-P/2.jpg" alt="Donegal Merino Wool Design Sweater">
            <div class="extra-content-heading">Donegal Merino Wool</div>
            <div class="extra-content-hr-line-green"></div>
            <div class="extra-content-text-blurb-height">
                <div class="extra-content-text-blurb">Luxuriously soft easy-to-wear merino yarn in 4 irresistible colors.</div>
            </div>
        </div>
    </div>
    <div class="extra-content-flex-child">
        <div class="extra-content-small-container"><img class="extra-content-main-image" src="https://www.theirishstore.com/media/wysiwyg/product_page_additional_content/IEL53-P/1.jpg" alt="Classic Aran Sweater">
            <div class="extra-content-heading">Classic Aran Sweater</div>
            <div class="extra-content-hr-line-green"></div>
            <div class="extra-content-text-blurb-height">
                <div class="extra-content-text-blurb">A must-have wardrobe staple with its classic crew neck. Team with your favorite jeans for the ultimate casual look.</div>
            </div>
        </div>
    </div>
    <div class="extra-content-flex-child">
        <div class="extra-content-small-container"><img class="extra-content-main-image" src="https://www.theirishstore.com/media/wysiwyg/product_page_additional_content/IEL53-P/3.jpg" alt="Exquisite Aran Craftsmanship Sweater">
            <div class="extra-content-heading">Exquisite Aran Craftsmanship</div>
            <div class="extra-content-hr-line-green"></div>
            <div class="extra-content-text-blurb-height">
                <div class="extra-content-text-blurb">Lucky honeycomb stitch in the main body beautifully trimmed with classic cable.</div>
            </div>
        </div>
    </div>
</div>
<div class="actions-toolbar" id="product-marketing-buttons-container">
    <div class="primary">
        <button type="submit" class="button action continue primary" id="product-scroll-top-button-id" onclick="require(['jquery'], function($) { $('html, body').animate({scrollTop: 0}); });">
            <span>Get Yours Today</span>
        </button>
    </div>
</div>
