<a href="#" class="action" data-trigger="trigger">
    <span data-bind="i18n: 'Size chart'"></span>
</a>
<div data-bind="mageInit: {
        'Magento_Ui/js/modal/modal':{
            'type': 'popup',
            'title': 'Donegal Merino Blasket Honeycomb Stitch Aran Sweater - Size Chart',
            'trigger': '[data-trigger=trigger]',
            'responsive': true,
            'buttons': [{
                text: jQuery.mage.__('Close')
            }]
        }}">
    <div class="content">
        <div class="product data items"
             data-mage-init='{"mage/tabs": {
             "openedState": "active",
             "animate": {"duration": 0},
             "active": 0,

             "disabledState": "disabled"}}'>

            <div class="item title" data-role="collapsible">
                <a class="switch" data-toggle="trigger" href="#tab-in">Inches</a>
            </div>
            <div id="tab-in" class="item content" data-role="content">
                <table class="table_size in">
                    <tbody>
                    <tr><th><strong>Our Sizing</strong></th><th><strong>XS</strong></th><th><strong>S</strong></th><th><strong>M</strong></th><th><strong>L</strong></th><th><strong>XL</strong></th><th><strong>XXL</strong></th></tr>
                    <tr>
                        <td><strong>Chest</strong></td>
                        <td>18.9</td>
                        <td>19.7</td>
                        <td>20.5</td>
                        <td>21.3</td>
                        <td>22.0</td>
                        <td>22.8</td>
                    </tr>
                    <tr>
                        <td><strong>Waist</strong></td>
                        <td>18.9</td>
                        <td>19.7</td>
                        <td>20.5</td>
                        <td>21.3</td>
                        <td>22.0</td>
                        <td>22.8</td>
                    </tr>
                    <tr>
                        <td><strong>Hips</strong></td>
                        <td>18.9</td>
                        <td>19.7</td>
                        <td>20.5</td>
                        <td>21.3</td>
                        <td>22.0</td>
                        <td>22.8</td>
                    </tr>
                    <tr>
                        <td><strong>Length</strong></td>
                        <td>25.2</td>
                        <td>26.0</td>
                        <td>26.8</td>
                        <td>27.6</td>
                        <td>28.3</td>
                        <td>29.1</td>
                    </tr>
                    <tr>
                        <td><strong>Arm Length</strong></td>
                        <td>30.7</td>
                        <td>31.1</td>
                        <td>31.5</td>
                        <td>32.3</td>
                        <td>32.7</td>
                        <td>33.5</td>
                    </tr>
                    <tr>
                        <td><strong>Width</strong></td>
                        <td>18.9</td>
                        <td>19.7</td>
                        <td>20.5</td>
                        <td>21.3</td>
                        <td>22.0</td>
                        <td>22.8</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="item title" data-role="collapsible">
                <a class="switch" data-toggle="trigger" href="#tab-cm">Centimeters</a>
            </div>
            <div id="tab-cm" class="item content" data-role="content">
                <table class="table_size cm" >
                    <tbody>
                    <tr><th><strong>Our Sizing</strong></th><th><strong>XS</strong></th><th><strong>S</strong></th><th><strong>M</strong></th><th><strong>L</strong></th><th><strong>XL</strong></th><th><strong>XXL</strong></th></tr>
                    <tr>
                        <td><strong>Chest</strong></td>
                        <td>48</td>
                        <td>50</td>
                        <td>52</td>
                        <td>54</td>
                        <td>56</td>
                        <td>58</td>
                    </tr>
                    <tr>
                        <td><strong>Waist</strong></td>
                        <td>48</td>
                        <td>50</td>
                        <td>52</td>
                        <td>54</td>
                        <td>56</td>
                        <td>58</td>
                    </tr>
                    <tr>
                        <td><strong>Hips</strong></td>
                        <td>48</td>
                        <td>50</td>
                        <td>52</td>
                        <td>54</td>
                        <td>56</td>
                        <td>58</td>
                    </tr>
                    <tr>
                        <td><strong>Length</strong></td>
                        <td>64</td>
                        <td>66</td>
                        <td>68</td>
                        <td>70</td>
                        <td>72</td>
                        <td>74</td>
                    </tr>
                    <tr>
                        <td><strong>Arm Length</strong></td>
                        <td>78</td>
                        <td>79</td>
                        <td>80</td>
                        <td>82</td>
                        <td>83</td>
                        <td>85</td>
                    </tr>
                    <tr>
                        <td><strong>Width</strong></td>
                        <td>48</td>
                        <td>50</td>
                        <td>52</td>
                        <td>54</td>
                        <td>56</td>
                        <td>58</td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>

        <div class="tips-container">
            <div class="window-title">
                <h4>Helpful Tips</h4>
            </div>
            <p>
                Being a natural fibre, wool has a certain amount of flexibility and size may vary slightly. Our chest width measurements are calculated by measuring across the fullest part of the chest.
            </p>
        </div>

        <div class="how-to-measure-container" style="display: flex;">
            <div class="how-to-measure-image">
                <img class="sizes" src="https://www.theirishstore.com/media/wysiwyg/Size_Guide_Images/iel53.jpg" alt="Measurements" width="420" height="421">
            </div>
            <div class="how-to-measure-content">
                <div class="window-title">
                    <h4>How To Measure</h4>
                </div>
                <div style="display: block;">
                    <p class="measure-heading"><strong>CHEST</strong>:</p>
                    <p class="measure-text">Measure across the fullest part of your chest.</p>
                </div>
                <div style="display: block;">
                    <p class="measure-heading"><strong>WAIST</strong>:</p>
                    <p class="measure-text">Bend to one side to find the natural crease of your waist; measure across this point.</p>
                </div>
                <div style="display: block;">
                    <p class="measure-heading"><strong>HIPS</strong>:</p>
                    <p class="measure-text">Standing with your feet together, measure around the fullest part.</p>
                </div>
            </div>
        </div>

    </div>
</div>
