<div>
    <div style="font-size: 14px;">
        <span style="color: #9a1a28;">BIG SAVINGS</span>&nbsp;On Selected Colors &amp; Sizes Today
    </div>
    <div style="font-size: 11px; color: #797a7b; margin-top: -2px;">
        Promotional codes cannot be applied to sale items
    </div>
</div>
