<?php
$objectManagerlogin = \Magento\Framework\App\ObjectManager::getInstance();
$customerSession = $objectManagerlogin->get('Magento\Customer\Model\Session');
$baseurl = $objectManagerlogin->get('Magento\Store\Model\StoreManagerInterface')->getStore(0)->getBaseUrl();
?>

<a title="Delivery information" class="shipping-info" href=<?= $this->getUrl('deliveryinfo') ?>><?= __('Extended 180 Day Free Returns') ?></a>

<div class="switcher currency switcher-currency" id="switcher-currency">
    <div class="actions dropdown options switcher-options">
        <div class="action toggle switcher-trigger"
             id="switcher-currency-trigger account"
             data-mage-init='{"dropdown":{}}'
             data-toggle="dropdown"
             data-trigger-keypress-button="true">
            <strong class="language-account">
                <span><?= __('MY ACCOUNT') ?></span>
            </strong>
        </div>
        <ul class="dropdown switcher-dropdown" data-target="dropdown">
            <li class="currency-account switcher-option">
                    <a href="<?php echo $baseurl .'customer/account/'; ?>"><?= __('MY ACCOUNT') ?></a>
            </li>
            <li class="currency-account switcher-option">
                <a href="<?php echo $baseurl .'wishlist'; ?>"><?= __('My Wish List')?></a>
            </li>
            <li class="currency-account switcher-option">
                <?php if($customerSession->isLoggedIn()) { ?>
                    <a href="<?php echo $baseurl .'customer/account/logout'; ?>"><?=__('Sign out') ?></a>
                <?php } else { ?>
                    <a href="<?php echo $baseurl .'customer/account/login'; ?>"><?= __('Sign out') ?></a>
                <?php } ?>
            </li>
        </ul>
    </div>
</div>
