<h1 class="page-title">
    <span class="base" data-ui-id="page-title-wrapper">Delivery &amp; Shipping Information</span>
</h1>
<p>
    <strong>Note:&nbsp;</strong>
    Our warehouse will be working with reduced resources due to the Irish Government’s social distancing guidelines,
    and while we continue to deliver for all of our customers, there may be delays in some of our orders.
</p>
<p>
    Please ensure that you have checked your product's individual "Shipping &amp; Free returns tab" &nbsp;as some
    products delivery timescale may vary depending on the nature of the product.
</p>
<ul>
    <li>Standard Shipping is $9.95(to the USA)</li>
    <li>Standard Shipping is $14.95(to Canada)</li>
    <li>Standard Shipping is $16.95(to Australia and New Zealand)</li>
    <li>Express Shipping Charge worldwide is $29.95</li>
</ul>
<p>
    We guarantee all USA customs duties and taxes are covered in the price you pay TheIrishStore.com.
    &nbsp;Many other Irish Gift Retailers do not cover USA customs duty charges.
</p>
<h2>Standard Shipping&nbsp;</h2>
<ul>
    <li>USA &amp; Canada – 3 to 7 Business Days</li>
    <li>Ireland – 1 to 2 Business Days</li>
    <li>Europe – 2 to 5 Business Days</li>
    <li>All other Destinations – 3 to 8 Business Days</li>
</ul>
<h2>Express/Priority&nbsp;Shipping</h2>
<p>
    Your product will take 24hrs – 48hrs to be delivered Worldwide from the time it ships.
    Please see the "Shipping and Free Returns" tab on the product page to see when the product will leave our warehouse.
</p>
<p>
    *Shipping times will vary based on the product selected.
    Shipping and estimated delivery time always relate to business days.
    Business Days are Monday - Friday and exclude all Irish Holidays and Good Friday.
</p>
<p>
    *Delivery to PO BOX and APO addresses- this can be done only for specific products.
    &nbsp; Delivery delays can occur if delivering to these addresses.
    Please enquire if you have any questions regarding delivery for your chosen product.
</p>
<p>
    Extreme weather conditions and customs security delays are outside of our control.
</p>
<p>
    Returns: For returns information <a href="../returns-policy/">click here</a>.&nbsp;
</p>
